@model SiteMap.Models.URL
@{
    ViewData["Title"] = "Home Page";
}

    <link rel="stylesheet" href="~/css/MainPageStyle.css">

    <div class="align-items-center">

        <p>@ViewBag.ErrorMessage</p>

        @using (Html.BeginForm("GetUrls", "Home", FormMethod.Post))
        {
            <label> Domain </label>
            <input type="text" name="URL" id="URL" placeholder="https://domain.com" />
            <input type="submit" value="Send" />
        }

        @using (Html.BeginForm("DropDownList", "Home", FormMethod.Post))
        {
            
                    <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
                    
                        <select style="width: 300px" asp-for="ID"
                                class="form-control"
                                asp-items="@(new SelectList(@ViewBag.ListOfDomains, "ID", "Url"))">
                        </select>



                        <input id="Submit1" type="submit" value="submit" />
                    
        }
    </div>

